{% extends 'layout.html' %}

{% block content %}
{% if !user %}
	<h2>Welcome! Please log in.</h2>
	<p><a href="/login">login</a></p>
{% else %}
	<h2>Hello, {{ user.username }}.</h2>
	<p>Your email is {{ user.emails[0].value }}</p>
	   <form method='POST' action='/api/jukebots' id="botmaker">
      <legend>Create your Jukebot</legend>
    
      <div class="form-group">

        <label for="playlist-name">Name your Playlist</label>
        <input name="spotifyPlaylistName" type="text" class="form-control" id="playlist-name" placeholder="Playlist Name">

        <label for="spotify-id">Spotify ID</label>
        <input name="spotifyID" type="hidden" class="form-control" id="spotify-id" value="{{ user.id }}">
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endif %}
{% endblock %}