{% extends 'layout.html' %}

{% block content %}

<p>hi dudes</p>

<form id = "searchstuff" action = "submit" class="input-group-lg col-lg-8 col-lg-offset-2"> 

	<input type="text" name="search" id="searchInput" class="form-control"><br>

	<button type="submit" class="btn-lg btn-primary ">Search Now <i class="glyphicon glyphicon-search"></i></button>
</form>


{% endblock %}
<!-- <form method='POST' id = "searchstuff" action = "/searching" class="input-group-lg col-lg-8 col-lg-offset-2"> 

	<input type="text" name="search" id="searchInput" class="form-control"><br>

	<button type="submit" class="btn-lg btn-primary ">Search Now <i class="glyphicon glyphicon-search"></i></button>
</form>

<div class='showresults'>
			
</div> -->
