{% extends 'layout.html' %}

{% block content %}

<p>hi dudes</p>
<div>
<form>
    <input type="radio" id="searchType" name="searchType" value="Track" checked>Track
    <input type="radio" id="searchType" name="searchType" value="Album">Album
    <input type="radio" id="searchType" name="searchType" value="Artist">Artist
</form>

<form id = "searchstuff" action = "submit" class="input-group-lg col-lg-8 col-lg-offset-2"> 

	<input type="text" name="search" id="searchInput" class="form-control"><br>

	<button type="submit" class="btn-lg btn-primary ">Search<i class="glyphicon glyphicon-search"></i></button>
</form>
</div>
<p id = 'spotid' data-spotid = '{{jukebot.spotifyID}}'>{{jukebot.spotifyID}}</p>
<p id = 'spotplid' data-spotplid = '{{jukebot.spotifyPlaylistID}}'>{{jukebot.spotifyPlaylistID}}</p>
<div class='container text-center'>
	<div class = 'row'>
		<div class = "col-md-10 col-md-offset-1">
			<div class='showresults'>
			
			</div>	
		</div>
	</div>
</div>
{% endblock %}
<!-- <form method='POST' id = "searchstuff" action = "/searching" class="input-group-lg col-lg-8 col-lg-offset-2"> 

	<input type="text" name="search" id="searchInput" class="form-control"><br>

	<button type="submit" class="btn-lg btn-primary ">Search Now <i class="glyphicon glyphicon-search"></i></button>
</form>

			
</div> -->
